{% extends "AppBundle:Layouts:layout.html.twig" %}
{% block javascript %}
    {{parent()}}
    <script src="{{asset('assets/js/custom/invertir.js')}}"></script>
    {% endblock %}
{% block content %}
    <div class="box-default">
        {{dump(acciones)}}
        {{dump(proyecto)}}
        {{dump(monto)}}
        {{dump(pagar)}}
        <p>Codigo Proyecto a Invertir: <b>{{proyecto.codigo}}</b></p>
        <p>Nombre Proyecto a Invertir: <b>{{proyecto.Nombre}}</b></p>
        <p>Acciones disponibles: <b>{{proyecto.acciones-proyecto.vendidas}}</b></p>
        <p>Valor Accion:<strong>{{(proyecto.valor+proyecto.cop)|number_format}}</strong></p>
        {{form_start(form)}}
        {{form_end(form)}}
    </div>
{% endblock %}
