{% extends "AppBundle:Layouts:layout.html.twig" %}
{% block javascript %}
    {{parent()}}
    <script src="{{asset('assets/js/custom/invertir.js')}}"></script>
    {% endblock %}
{% block content %}
    <div class="box-default">
        {{dump(proyecto)}}
        {{form_start(form)}}
        {{form_end(form)}}
    </div>
{% endblock %}
