{% extends "AppBundle:Layouts:layout.html.twig" %}
{% block content %}
    <div class="col-lg-12 box-default">
        <div class="row">
            {% for cta in cuenta %}
                {% if(cta.movimiento=='Deposito' and cta.estado==3) %}
                    <div class="col-lg-2">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <i class="fa fa-money fa-2x"></i>
                                Mis Depositos 

                            </div>
                            <div class="panel-body">
                                ${{cta.monto|number_format(0,',','.')}}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if(cta.movimiento=='Deposito' and cta.estado==21) %}
                    <div class="col-lg-2">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <i class="fa fa-money fa-2x"></i>
                                Mis Depositos Pendientes
                            </div>
                            <div class="panel-body">
                                <div >

                                    ${{cta.monto|number_format(0,',','.')}}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if(cta.movimiento=='Inversion') %}
                    <div class="col-lg-2">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <i class="fa fa-building fa-2x"></i>
                                En Inversión 
                            </div>
                            <div class="panel-body">
                                ${{(cta.monto*-1)|number_format(0,',','.')}}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if(cta.movimiento=='Utilidades') %}
                    <div class="col-lg-2">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <i class="fa fa-line-chart fa-2x"></i>
                                Mis Ganancias 
                            </div>
                            <div class="panel-body"> 
                                ${{cta.monto|number_format(0,',','.')}}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if(cta.movimiento=='Retiros') %}
                    <div class="col-lg-2">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <i class="fa fa-money fa-2x"></i>
                                Mis Retiros 
                            </div>
                            <div class="panel-body">
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if(cta.estado==21) %}
                    <div class="col-lg-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <i class="fa fa-hand-paper-o fa-2x"></i>
                                Mis Retenciones 
                            </div>
                            <div class="panel-body">
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if(cta.movimiento=='cartera') %}
                    <div class="col-lg-2">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <i class="fa fa-suitcase fa-2x"></i>
                                Mi Cartera de Inversión 
                            </div>
                            <div class="panel-body">

                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="col-lg-2">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <i class="fa fa-money fa-2x"></i>
                                Mi Dinero Disponible

                            </div>
                            <div class="panel-body">
                                ${{disponible|number_format(0,',','.')}}
                            </div>
                        </div>
                    </div>
        </div>
        <div class="panel panel-default    ">
            <div class="panel-heading">Mis Inversiones</div>
            <div class="panel-body">
                <a href="{{path('ctacte_deposito')}}" class="btn btn-info  btn-block">Depositar</a>
                <table class="table table-hover " >
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Codigo Proyecto</th>
                            <th>Acciones </th>
                            <th>Valor Accion</th>
                            <th>Utilidades Pagadas</th>
                            <th>Accion</th>
                            <th>Documentos</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set myVal = 0 %}
                        {% for inv in inversiones%}
                            {%set myVal= myVal+1 %}
                            <tr>
                                <td>{{  myVal }}</td>
                                <td><strong>{{inv.proyectos.codigo}}</strong></td>
                                <td>{{inv.acciones}}</td>
                                <td>{{inv.precio|number_format(0,',','.')}}</td>
                                <td></td>
                                <td>{{inv.tipoaccion}}</td>

                                <td>
                                    <!-- <a href="" title="Contrato Arrendamiento"><i class="fa fa-file-pdf-o"></i></a>
                                     <a href="" title="Certificado Acciones"><i class="fa fa-bookmark-o"></i></a>-->
                                </td>
                                <td>
                                    <!--<a href="#" title="Vender"><i class="fa fa-credit-card"></i></a>-->
                                </td>

                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}
