{% extends "AppBundle:Layouts:layout.html.twig" %}
{% block content %}
    <div class="container">
        <div class="col-lg-12 box-default box-notification">
            <h1 class="box-header">Notificaciones</h1>
            <div class="box-content">
                {% for notification in  resultado %}
                    <div class="col-lg-12 notification-item">
                        <div class="alert alert-default">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                            {% if notification.tipoaccion.id==19 %}
                                <a href="{{ path('user_profile',{'nickname':notification.usuariousuario.nombre}) }}" > {{ notification.usuariousuario.nombre }} {{ notification.usuariousuario.app }} </a> Ha realizado una compra de acciones para el proyecto: <strong><a href="">{{notification.proyectos.codigo}}</a></strong>
                            {% endif %}
                            {% if notification.tipoaccion.id=='like'%}
                                <a href="{{ path('user_profile',{'nickname':notu.nick}) }}" >{{ notu.name }} {{ notu.surname }} </a>  le ha dado me gusta a una publicacion
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div class="clearfix"></div>

            </div>
        </div>
    </div>
{% endblock %}
