{% extends "AppBundle:Layouts:layout.html.twig" %}

{% block content %}
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1>AdministradorProyectos
                    <a href="{{path('proyectos_new')}}" class="btn btn-info pull-right"><span class="fa fa-plus-circle"></span>Nuevo</a>
                </h1>
            </div>
            <div class="panel-body">


                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Descripcion</th>
                            <th>Proyeccion</th>
                            <th>Uf</th>
                            <th>Acciones</th>
                            <th>Valor</th>
                            <th>Vendidas</th>
                            <th>Cop</th>
                            <th>Fechacompraest</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for proyecto in proyectos %}
                            <tr>
                                <td><a href="{{ path('proyectos_show', { 'id': proyecto.id }) }}">{{ proyecto.id }}</a></td>
                                <td>{{ proyecto.codigo }}</td>
                                <td>{{ proyecto.nombre }}</td>
                                <td>{{ proyecto.direccion }}</td>
                                <td>{{ proyecto.descripcion }}</td>
                                <td>{{ proyecto.proyeccion }}</td>
                                <td>{{ proyecto.uf }}</td>
                                <td>{{ proyecto.acciones }}</td>
                                <td>{{ proyecto.valor }}</td>
                                <td>{{ proyecto.vendidas }}</td>
                                <td>{{ proyecto.cop }}</td>
                                <td>
                                    {% if proyecto.fechaCompraEst %}
                                        {{ proyecto.fechaCompraEst|date('Y-m-d') }}
                                    {% endif %}</td>
                                <td>
                                    <a title="Ver" href="{{ path('proyectos_show', { 'id': proyecto.id }) }}">
                                        <span class="fa fa-eye"></span>
                                    </a>
                                    <a title="Editar" href="{{ path('proyectos_edit', { 'id': proyecto.id }) }}">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                    <a title="Borrar" href="{{ path('proyectos_delete', { 'id': proyecto.id }) }}">
                                        <span class="fa fa-trash-o"></span>
                                    </a>
                                    <a title="Ingresar Pagos" href="{{ path('proyectos_pagos', { 'id': proyecto.id }) }}">
                                        <span class="fa fa-money"></span>
                                    </a>

                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
