{% extends "AppBundle:Layouts:layout.html.twig" %}

{% block content %}
    <h1>Proyecto</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proyecto.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ proyecto.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ proyecto.nombre }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ proyecto.direccion }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ proyecto.descripcion }}</td>
            </tr>
            <tr>
                <th>Proyeccion</th>
                <td>{{ proyecto.proyeccion }}</td>
            </tr>
            <tr>
                <th>Uf</th>
                <td>{{ proyecto.uf }}</td>
            </tr>
            <tr>
                <th>Acciones</th>
                <td>{{ proyecto.acciones }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ proyecto.valor }}</td>
            </tr>
            <tr>
                <th>Vendidas</th>
                <td>{{ proyecto.vendidas }}</td>
            </tr>
            <tr>
                <th>Cop</th>
                <td>{{ proyecto.cop }}</td>
            </tr>
            <tr>
                <th>Fechacompraest</th>
                <td>{% if proyecto.fechaCompraEst %}{{ proyecto.fechaCompraEst|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('proyectos_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
