{% extends "AppBundle:Layouts:layout.html.twig" %}
{% block javascript %}
    {{parent()}}
    <script type='txt/javacript' src='{{asset('assets/js/custom/home.js')}}' ></script>
{% endblock %}
{% block content %}
    <div class=" container">
        {%include "AppBundle:User:paneluser.html.twig"%}
        {% for proy in proyectos %}
            <div class="box-panel">
                <img class="box-panel-img" src="{{asset("assets/images/edif_default.jpg")}}">
                <div class="box-panel-head">  {{proy.nombre}}</div>
                <div class="box-panel-body"> 
                    <p class="box-panel-codigo"> Codigo: {{proy.codigo}}</p>
                    <p>{{proy.descripcion}}</p>
                </div>
                <div class="box-panel-pie">
                    <p>Financiado:</p>
                    <div class="progress">
                        {% set avance=(proy.vendidas*100/proy.acciones) %}
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:{{avance}}%">
                        </div>

                    </div>
                    <a href="{{path('proyectos_ficha',{id:proy.id})}}" class="btn btn-block btn-success">Más Información</a>
                </div>
            </div>
        {% endfor %}





        <div class="navigation">
            {{ knp_pagination_render(proyectos) }}
        </div>
    </div>
</div>
</div>
</div>


{% endblock %}
