{% extends "AppBundle:Layouts:layout.html.twig" %}
{% block javascript %}
    {{parent()}}
   <!-- <script type='txt/javacript' src='{{asset('assets/js/custom/home.js')}}' ></script>-->
{% endblock %}
{% block content %}
    <div class="col-lg-10 box-default profile-box">
        <div id="user-publicatios">
            {% for publication in pagination %}
                <div class='col-lg-12 publication-item'>
                    <div class="avatar"    >
                        {%if publication.user.image==null %}
                            <img src="{{asset('assets/images/default.png')}}"/>
                        {%else%}
                            <img src="{{asset('uploads/users/'~publication.user.image)}}"/>
                        {%endif%}
                    </div>
                    <div class='publication-item-content'>
                        <p> <a class='pub-name-link' href=#>
                                {{publication.user.name}} {{publication.user.surname}}
                            </a>
                            -
                            {{publication.user.nick}}
                            -
                            <span class='pub-date'>
                                {{ publication.createdAt|long_time }}
                            </span>
                        </p>
                        <p> {{publication.text}}</p>

                        {% if (publication.user.id is defined) and (publication.user.id == app.user.id) %}
                            <span data-id="{{publication.id}}" class="btn-del-pub glyphicon glyphicon-trash" ></span>
                        {%endif%}
                        {% if (publication.document is defined) and (publication.document != null) %}
                            <a 
                                href="{{ asset('uploads/publications/document/'~publication.document) }}" 
                                target="_blank" 
                                class="pub-doc glyphicon glyphicon-save" 
                                aria-hidden="true"
                                >
                            </a>
                        {%endif%}
                        {% if (publication.image is defined) and (publication.image != null) %}
                            <span class="btn-image glyphicon glyphicon-picture"></span>
                            <div class="clearfix"></div>
                            <div class="pub-img">
                                <img src="{{ asset('uploads/publications/images/'~publication.image) }}"/>
                            </div>
                        {%endif%}
                        <div class="pull-right like">
                            <span data-id="{{publication.id}}" 
                                  class="btn-like glyphicon glyphicon-heart" 
                                  area-hidden="true" 
                                  data-toggle="tooltip"
                                  data-placement="bottom"
                                  title="Me Gusta"></span>
                            <span data-id="{{publication.id}}" 
                                  class="hidden btn-unlike active glyphicon glyphicon-heart" 
                                  area-hidden="true" 
                                  data-toggle="tooltip"
                                  data-placement="bottom"
                                  title="Ya no me Gusta"></span>
                        </div>
                    </div>
                    <div class='clearfix'></div>
                    <hr/>
                </div>
                <hr/>
            {% endfor %}
            <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
                <div class="clearfix"></div>

        </div>
    </div>
{%endblock%}