<!DOCTIPE HTML>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <title>
            {%block title %} NovaProduce{% endblock %}
        </title>
        {%block stylesheets %}
            <link rel="icon" type="image/png" href="{{asset('assets/images/Logo.png')}}" />
            <link href="{{ asset('assets/bootstrap/css/bootstrap.min.css')}}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('assets/css/bootstrap.cosmo.min.css')}}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('assets/css/styles.css')}}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('assets/font-awesome/css/font-awesome.css')}}" type="text/css" rel="stylesheet" />
        {% endblock %}
        {%block javascript %}
            <script type="text/javascript">
                var URL = "{{ app.request.getSchemeAndHttpHost()}}/frutas/web/app_dev.php";

            </script>
            <script src=" {{ asset('assets/js/jquery.min.js')}}"></script>
            <script src=" {{ asset('assets/bootstrap/js/bootstrap.min.js')}}"></script>
            <script src=" {{ asset('assets/js/jquery-ias.min.js')}}"></script>
            <script src=" {{ asset('assets/js/custom/common.js')}}"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#bs-example-bavbar-collapse-1" aria-expanded="false" >
                            <span class="sr-only">Navega </span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span> 
                        </button>                    
                        <a class="navbar-brand" href="#"> 
                            <span aria-hidden="true">
                                <img src="{{asset('assets/images/Logo.png')}}" width="50"/>
                            </span>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {% if app.user==null %}
                                <!--      <li>
                                          <a href="{{path('login')}}">
                                              <span class="glyphicon glyphicon-log-in" aria-hidden="true" ></span>  
                                              &nbsp;
                                              Login
                                          </a>
                                      </li>
      
                                      <li>
                                          <a href="{{path('register')}}">
                                              <span class="glyphicon glyphicon-user" aria-hidden="true" ></span>  
                                              &nbsp;
                                              Registro
                                          </a>
                                      </li>-->
                                <li>

                                    <a href="{{path("app_homepage")}}">
                                        <span class="glyphicon glyphicon-home" aria-hidden="true" ></span>&nbsp
                                        Home
                                    </a>
                                </li>
                            {% else%}
                                <li>
                                    <a href="{{path("user_home")}}">
                                        <span class="glyphicon glyphicon-home" aria-hidden="true" ></span>&nbsp
                                        Home
                                    </a>
                                </li>
                                <!--  <li>
                                      <form action="{{path('user_search')}}" class="navbar-form navbar-left">
                                          <div class="form-group">
                                              <input type="text" class="form-control" placeholder="Buscar Gente" name="search">
                                          </div>
                                          <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i> </button>
  
                                      </form>
                                  </li>-->
                            {% endif%}
                        </ul>
                        {% if(app.user!='')%}
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="{{path('archivos')}}">
                                        <span class="fa fa-plus-square" aria-hidden="true" ></span>&nbsp
                                        Administrar Archivos
                                    </a>
                                </li>
                                <li>
                                    <a href="{{path('usuario')}}">
                                        <span class="fa fa-plus-square" aria-hidden="true" ></span>&nbsp
                                        Administrar Usuarios
                                    </a>
                                </li>
                                <li>
                                    <a href="{{path('lotes_carga')}}">
                                        <span class="fa fa-plus-square" aria-hidden="true" ></span>&nbsp
                                        Cargar Lotes
                                    </a>
                                </li>
                                <!--<li>
                                    <a href="{{path('lotes')}}">
                                        <span class="fa fa-plus-square" aria-hidden="true" ></span>&nbsp
                                        Ingresar Lotes
                                    </a>
                                </li>-->
                                <li>
                                    <a href="{{path('general')}}">
                                        <span class="fa fa-plus-square" aria-hidden="true" ></span>&nbsp
                                        Ingresar Producto
                                    </a>
                                </li>
                                <!--<li>
                                    <a href="{{ path('calidad')}}">
                                        <span class="fa fa-list-ul" aria-hidden="true" ></span>&nbsp
                                        Ingresar Calidad
                                    </a>
                                </li>-->
                                <li>
                                    <a href="{{path('condicion')}}">
                                        <span class="fa fa-thumbs-up"></span>
                                        Ingresar Calidad
                                    </a>
                                </li>
                            {% endif %}
                            {% if app.user!=null%}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <div class="avatar">
                                            {%if app.user.image==null %}
                                                <img src="{{asset('assets/images/default.png')}}"/>
                                            {%else%}
                                                <img src="{{asset('uploads/users/'~app.user.image)}}"/>
                                            {%endif%}
                                        </div>
                                        {{app.user.nombre}} {{app.user.app}}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{path("user_edit")}}">
                                                <span class="glyphicon glyphicon-cog" aria-hidden="true" ></span>&nbsp
                                                Mis Datos
                                            </a>
                                        </li>
                                        <!--  <li><a href="#">
                                                  <span class="fa fa-money" aria-hidden="true" ></span>&nbsp
                                                  Mi Cuenta
                                              </a>
                                          </li>-->
                                        <li role="separator" class="divider"> </li>

                                        <li>
                                            <a href="{{path("logout")}}">
                                                <span class="glyphicon glyphicon-log-out" aria-hidden="true" ></span>&nbsp
                                                Salir
                                            </a>
                                        </li>
                                        <li>
                                            <a href="}">
                                                <span class="glyphicon glyphicon-exclamation-signt" aria-hidden="true" ></span>&nbsp
                                                Ayuda
                                            </a>
                                        </li>
                                    </ul>

                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section id="content">
            <div id="cointainer">
                {% for message in app.session.flashbag().get('status')%}
                    <div class="alert alert-success"> {{message}} </div>
                {% endfor%}
                {% for message in app.session.flashbag().get('success')%}
                    <div class="alert alert-success"> {{message}} </div>
                {% endfor%}
                {% for message in app.session.flashbag().get('danger')%}
                    <div class="alert alert-danger"> {{message}} </div>
                {% endfor%}
                {% for message in app.session.flashbag().get('info')%}
                    <div class="alert alert-info"> {{message}} </div>
                {% endfor%}
            </div>
            <div class="clearfix"></div>
            {% block content %}
                conetnt default
            {% endblock %}
        </section>
        <footer class="col-lg-12 col-md-12 col-sm-12">
            <hr/>
            <div class="container">
                <p class="text-muted">Asisto Spa <i class="fa fa-registered"></i></p>
            </div>
        </footer>
    </body>

</html>
