{% extends 'AppBundle:Layouts:layout.html.twig' %}

{% block title %}
{{ parent() }} - calidad index
{% endblock %}

{% block content %}
<div class="col-md-12 col-sm-12 col-lg-12">


<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2><a href="{{ path('calidad') }}">Calidad</a></h2>
        </div>
    </div>       

<!-- FILTERING -->
<div class="col-md-12">
    <div  id="filters" class="collapse">

        <form class="well" action="{{ path('calidad') }}" method="get" >
            <div class="row">
                 
                    <div class="col-md-6">{{ form_row(filterForm.id) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.size) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.variety) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.casesNetWeigth) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.sampleNumber) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.barCodePlu) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.openAppearance) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.blankEnd) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.blisterMiteInjure) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.discoloration) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.blush) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.lightBlush) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.scaring) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.hardEnd) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.insectDamage) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.russet) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.limbRubs) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.overripe) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.mealy) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.scab) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.shape) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.stermPunctureSkinBreaks) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.stonyPit) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.missingCalix) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.initInspect) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.endInspect) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.brix) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.greenStem) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.brownStem) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.dryStem) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.sunkenStemEnd) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.translucent) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.grapeColor) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.amber) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.split) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.waterBerry) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.shotBerry) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.shalter) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.softBerries) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.so2Damage) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.dehydratedBerries) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.bruising) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.stemPuncture) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.crush) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.shiriveling) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.slipSkin) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.lackOfDegreening) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.colorPale) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.fruitWithSeeds) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.calixBrownBlack) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.skinDefectSevere) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.skinDefectModerate) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.misshapenFruit) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.wellFormed) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.undersize) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.brokenSkin) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.wormDamage) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.hailDamage) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.mechanicalDamage) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.stemEndDamage) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.misshapen) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.sprayBurn) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.spots) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.scald) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.splitPit) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.qualityScore) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.bloom) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.lackOfColor) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.insectPresence) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.flowerRemains) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.contamination) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.inspectdate) }}</div>

                 
                    <div class="col-md-6">{{ form_row(filterForm.comments) }}</div>

                                <div class="col-md-6">
                    {{ form_rest(filterForm) }}
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning" name="filter_action" value="filter"> <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter</button>
                        <button type="submit" class="btn btn-default" name="filter_action" value="reset"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- END FILTERING -->


<div class="col-md-3 pull-left">
        
    <!-- PAGE SIZE -->
    <div class="pagination form-inline ">
        <select class = "form-control"  onchange="window.location = this.value" >
            <option value='{{ path('calidad', app.request.query.all|merge({'pcg_show': '10'})) }}' {% if app.request.get('pcg_show') == 10 %} selected {% endif %}>10</option>
            <option value='{{ path('calidad', app.request.query.all|merge({'pcg_show': '20'})) }}' {% if app.request.get('pcg_show') == 20 %} selected {% endif %}>20</option>
            <option value='{{ path('calidad', app.request.query.all|merge({'pcg_show': '50'})) }}' {% if app.request.get('pcg_show') == 50 %} selected {% endif %}>50</option>
            <option value='{{ path('calidad', app.request.query.all|merge({'pcg_show': '100'})) }}' {% if app.request.get('pcg_show') == 100 %} selected {% endif %}>100</option>
            <option value='{{ path('calidad', app.request.query.all|merge({'pcg_show': '500'})) }}' {% if app.request.get('pcg_show') == 500 %} selected {% endif %}>500</option>
        </select>
    </div>
    <!-- END PAGE SIZE -->

</div>

<div class="col-md-6">


</div>

<div class="col-md-3">

            <a class="btn btn-primary h3 pull-right" href="{{ path('calidad_new') }}" style="margin-bottom:10px">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
        </a>
        <a class="btn dropdown-toggle pull-right h3" data-toggle="collapse" data-target="#filters">
        Filter
        <span class="caret"></span>
    </a>
</div>







    <div class="col-md-12">
        {%- if form_errors(filterForm) %}
        <div class="alert alert-block alert-error fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
    </div>

</div> <!-- /#top -->


<div class="row">
    <div class="col-md-12">
        {% for type, flashMessages in app.session.flashbag.all() %} 
        {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|raw }}
        </div>
         {% endfor %} 
         {% endfor %} 
    </div>
</div>
    

<div class="row">

        <div class="table-responsive col-md-12">
        <form method="POST" id="bulk_form" action="{{ path('calidad_bulk_action') }} ">
            <table class="table table-striped table-hover table-bordered" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th width="20px"><input type="checkbox" class="check-all" onclick="toggleAll(this)"></th>

                {% import "PetkoparaCrudGeneratorBundle::macros/th_sortable.html.twig" as macros %}
                            <th>{{macros.th_sortable('id',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('size',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('variety',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('casesNetWeigth',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('sampleNumber',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('barCodePlu',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('openAppearance',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('blankEnd',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('blisterMiteInjure',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('discoloration',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('blush',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('lightBlush',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('scaring',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('hardEnd',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('insectDamage',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('russet',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('limbRubs',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('overripe',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('mealy',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('scab',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('shape',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('stermPunctureSkinBreaks',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('stonyPit',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('missingCalix',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('initInspect',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('endInspect',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('brix',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('greenStem',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('brownStem',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('dryStem',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('sunkenStemEnd',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('translucent',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('grapeColor',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('amber',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('split',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('waterBerry',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('shotBerry',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('shalter',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('softBerries',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('so2Damage',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('dehydratedBerries',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('bruising',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('stemPuncture',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('crush',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('shiriveling',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('slipSkin',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('lackOfDegreening',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('colorPale',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('fruitWithSeeds',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('calixBrownBlack',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('skinDefectSevere',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('skinDefectModerate',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('misshapenFruit',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('wellFormed',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('undersize',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('brokenSkin',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('wormDamage',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('hailDamage',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('mechanicalDamage',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('stemEndDamage',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('misshapen',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('sprayBurn',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('spots',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('scald',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('splitPit',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('qualityScore',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('bloom',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('lackOfColor',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('insectPresence',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('flowerRemains',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('contamination',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('inspectdate',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
                            <th>{{macros.th_sortable('comments',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'calidad')}}</th>
    
                       
                        <th width = "130px">List</th>
                    </tr>
                </thead>
                <tbody>
                    {% for calidad in calidads %}
                    <tr>
                        <td><input type="checkbox" name="ids[]" onclick='bulkSubmitBtnManage();' class="check-all" value="{{calidad.id}}"/></td>
                        <td><a href="{{ path('calidad_edit', { 'id': calidad.id }) }}">{{ calidad.id }}</a></td>
                        <td>{{ calidad.size }}</td>
                        <td>{{ calidad.variety }}</td>
                        <td>{{ calidad.casesNetWeigth }}</td>
                        <td>{{ calidad.sampleNumber }}</td>
                        <td>{{ calidad.barCodePlu }}</td>
                        <td>{{ calidad.openAppearance }}</td>
                        <td>{{ calidad.blankEnd }}</td>
                        <td>{{ calidad.blisterMiteInjure }}</td>
                        <td>{{ calidad.discoloration }}</td>
                        <td>{{ calidad.blush }}</td>
                        <td>{{ calidad.lightBlush }}</td>
                        <td>{{ calidad.scaring }}</td>
                        <td>{{ calidad.hardEnd }}</td>
                        <td>{{ calidad.insectDamage }}</td>
                        <td>{{ calidad.russet }}</td>
                        <td>{{ calidad.limbRubs }}</td>
                        <td>{{ calidad.overripe }}</td>
                        <td>{{ calidad.mealy }}</td>
                        <td>{{ calidad.scab }}</td>
                        <td>{{ calidad.shape }}</td>
                        <td>{{ calidad.stermPunctureSkinBreaks }}</td>
                        <td>{{ calidad.stonyPit }}</td>
                        <td>{{ calidad.missingCalix }}</td>
                        <td>{%- if calidad.initInspect %}{{ calidad.initInspect|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{%- if calidad.endInspect %}{{ calidad.endInspect|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ calidad.brix }}</td>
                        <td>{{ calidad.greenStem }}</td>
                        <td>{{ calidad.brownStem }}</td>
                        <td>{{ calidad.dryStem }}</td>
                        <td>{{ calidad.sunkenStemEnd }}</td>
                        <td>{{ calidad.translucent }}</td>
                        <td>{{ calidad.grapeColor }}</td>
                        <td>{{ calidad.amber }}</td>
                        <td>{{ calidad.split }}</td>
                        <td>{{ calidad.waterBerry }}</td>
                        <td>{{ calidad.shotBerry }}</td>
                        <td>{{ calidad.shalter }}</td>
                        <td>{{ calidad.softBerries }}</td>
                        <td>{{ calidad.so2Damage }}</td>
                        <td>{{ calidad.dehydratedBerries }}</td>
                        <td>{{ calidad.bruising }}</td>
                        <td>{{ calidad.stemPuncture }}</td>
                        <td>{{ calidad.crush }}</td>
                        <td>{{ calidad.shiriveling }}</td>
                        <td>{{ calidad.slipSkin }}</td>
                        <td>{{ calidad.lackOfDegreening }}</td>
                        <td>{{ calidad.colorPale }}</td>
                        <td>{{ calidad.fruitWithSeeds }}</td>
                        <td>{{ calidad.calixBrownBlack }}</td>
                        <td>{{ calidad.skinDefectSevere }}</td>
                        <td>{{ calidad.skinDefectModerate }}</td>
                        <td>{{ calidad.misshapenFruit }}</td>
                        <td>{{ calidad.wellFormed }}</td>
                        <td>{{ calidad.undersize }}</td>
                        <td>{{ calidad.brokenSkin }}</td>
                        <td>{{ calidad.wormDamage }}</td>
                        <td>{{ calidad.hailDamage }}</td>
                        <td>{{ calidad.mechanicalDamage }}</td>
                        <td>{{ calidad.stemEndDamage }}</td>
                        <td>{{ calidad.misshapen }}</td>
                        <td>{{ calidad.sprayBurn }}</td>
                        <td>{{ calidad.spots }}</td>
                        <td>{{ calidad.scald }}</td>
                        <td>{{ calidad.splitPit }}</td>
                        <td>{{ calidad.qualityScore }}</td>
                        <td>{{ calidad.bloom }}</td>
                        <td>{{ calidad.lackOfColor }}</td>
                        <td>{{ calidad.insectPresence }}</td>
                        <td>{{ calidad.flowerRemains }}</td>
                        <td>{{ calidad.contamination }}</td>
                        <td>{%- if calidad.inspectdate %}{{ calidad.inspectdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ calidad.comments }}</td>
    
                        <td class="actions">
                            <a  onclick="return confirm('Are you sure!');" title="Delete" class="btn btn-danger btn-sm" href="{{ path('calidad_by_id_delete', { 'id': calidad.id}) }}">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                            <a title='Show' class="btn btn-info btn-sm" href="{{ path('calidad_show', { 'id': calidad.id }) }}">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </a>
                            <a  title='Edit' class="btn btn-primary btn-sm" href="{{ path('calidad_edit', { 'id': calidad.id }) }}">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                        </td>


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>


        </div>
</div> <!-- /#list -->




<div class="row">
    <div class="col-md-4 pull-left">
            <div class="pagination form-inline ">
                <select class = "form-control" name="bulk_action" >
                    <option value="delete">DELETE</option>
                </select>
                <input type="submit" id='bulkSubmitBtn' onclick="return confirm('Are you sure?')" form="bulk_form" class="form-control btn btn-danger btn-sm" disabled>
            </div>
    </div>
    
    <div class='col-md-3 pagination text-center'>
         <p>{{totalOfRecordsString}}</p>
    </div>
 
    <div class="col-md-5 text-right">
         {{ pagerHtml|raw }} 
    </div>
</div> <!-- /#bottom -->

        </div>

{% endblock %}

