{% extends 'AppBundle:Layouts:layout.html.twig' %}

{% block title %}
{{ parent() }} - Informes index
{% endblock %}

{% block content %}
<div class="col-md-12 col-sm-12 col-lg-12">
    <table class="table table-hover">
        <thead>
        <th>id</th>
        <th>Container</th> 
        <th>Number Pallet</th>
        <th>Comoditty</th>
        <th>Variety</th>
        <th>Boxes</th>
        <th>Growers Name</th>
        <th>Exportador</th>
        <th></th>
        
        </thead>
        <tbody>
            {% for lote in lotes %}
                <tr>
                    <td>{{lote.id}}</td>
                    <td>{{lote.container}}</td>
                    <td>{{lote.number_Pallets}}</td>
                    <td>{{lote.comoditty}}</td>
                    <td>{{lote.variety}}</td>
                    <td>{{lote.num_boxes}}</td>
                    <td>{{lote.growers_name}}</td>
                    <td>{{lote.exportador}}</td>
                    <td>
                        <a href="{{path('informes_ver',{'id':lote.id})}}" title="Ver informe">
                            <span class="fa fa-print"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}