{% extends 'AppBundle:Layouts:layout.html.twig' %}

{% block title %}
    {{ parent() }} - Informes index
{% endblock %}

{% block content %}
    {{dump(lotes)}}
    <div class="logoinforme"><center> <img src="{{asset('assets/images/Logo.png')}}" width="300"/></center></div>
            {% for lote in lotes %}
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <table class="table table-bordered table-responsive table-hover">
                        <tr>
                            <td>Inspector Name</td>
                            <td>{{lote.nombre}} {{lote.app}}</td>
                        </tr>
                        <tr>
                            <td>Inspection Date/Time</td>
                            <td>{{lote.inspectdate|date('Y-m-d g:i')}}</td>
                        </tr>
                        <tr>
                            <td>Inspection Plan Name</td>
                            <td>{{lote.consignne}}</td>
                        </tr>
                        <tr>
                            <td>Country of Origin</td>
                            <td>{{lote.pol}}</td>
                        </tr>
                        <tr>
                            <td>Commodity Name</td>
                            <td>{{lote.comoditty}}</td>
                        </tr>
                        <tr>
                            <td>Variety</td>
                            <td>{{lote.variety}}</td>
                        </tr>
                        <tr>
                            <td>Product Pack Style</td>
                            <td>{{lote.pack}}</td>
                        </tr>
                        <tr>
                            <td>Label</td>
                            <td>{{lote.label}}</td>
                        </tr>
                        <tr>
                            <td>Cases Type</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Cases Per Pallet</td>
                            <td>{{lote.num_boxes}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <table class="table table-bordered table-responsive table-hover">
                        <tr>
                            <td>Grower</td>
                            <td>{{lote.growers_name}}</td>
                        </tr>
                        <tr>
                            <td>Size</td>
                            <td>{{lote.size}}</td>
                        </tr>
                        <tr>
                            <td>Packing date</td>
                            <td>{{lote.Packing_Date}}</td>
                        </tr>
                        <tr>
                            <td>Cases Net Weight</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Bar Code/PLU </td>
                            <td>{{lote.bar_code_plu}}</td>
                        </tr>
                        <tr>
                            <td>Costumer</td>
                            <td>{{lote.growers_name}}</td>
                        </tr>
                        <tr>
                            <td>Shipper</td>
                            <td>{{lote.exportador}}</td>
                        </tr>
                        <tr>
                            <td>Lot</td>
                            <td>{{lote.number_Pallets}}</td>
                        </tr>
                        <tr>
                            <td>Vessel</td>
                            <td>{{lote.vessel}}</td>
                        </tr>
                        <tr>
                            <td>Container</td>
                            <td>{{lote.container}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <table class="table table-hover table-responsive">
                    <tr><td>THIER</td></tr>
                    <tr><td>{{lote.container}}</td></tr>
                    <tr><td>Comments</td></tr>
                    <tr><td>{{lote.comments|raw}}</td></tr>
                    <tr><td>Recommendation</td></tr>
                    <tr><td></td></tr>
                </table>        </div>
        </div>
        <div class="row">
            <table class="table table-hover table-responsive">
                <thead>
                    <tr><td>QUALITY</td></tr>
                    <tr>
                        <th>Grower Code</th>
                        <th>Undersize</th>
                        <th>Russet</th>	
                        <th>Mechanical Damage</th>	
                        <th>Lack of Degreening</th>	
                        <th>Color Pale</th>
                        <th>Fruit with Seeds</th>		
                        <th>Calix Brown/Black</th>	
                        <th>Skin Defect Severe</th>	
                        <th>Skin Defect Moderate</th>
                        <th>Misshapen Fruit</th>
                        <th> Resumme</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{lote.grower_code}}</td>
                        <td>{{lote.undersize}}</td>
                        <td>{{lote.russet}}</td>	
                        <td>{{lote.mechanical_damage}}</td>	
                        <td>{{lote.lack_of_degreening}}</td>	
                        <td>{{lote.color_pale}}</td>
                        <td>{{lote.fruit_with_seeds}}</td>		
                        <td>{{lote.calix_brown_black}}</td>	
                        <td>{{lote.skin_defect_severe}}</td>	
                        <td>{{lote.skin_defect_moderate}}</td>
                        <td>{{lote.misshapen_fruit}}</td>
                        <td>
                            {{
                        lote.undersize+
                        lote.russet+	
                        lote.mechanical_damage+
                        lote.lack_of_degreening+	
                        lote.color_pale+
                        lote.fruit_with_seeds+	
                        lote.calix_brown_black+
                        lote.skin_defect_severe+	
                        lote.skin_defect_moderate+
                        lote.misshapen_fruit
                            }}



                        </td>
                    </tr>
                </tbody>

            </table>        </div>
    {% endfor %}
{% endblock %}