{% extends 'AppBundle:Layouts:layout.html.twig' %}

{% block title %}
    {{ parent() }} - Informes index
{% endblock %}

{% block content %}
    <div class="logoinforme"><center> <img src="{{asset('assets/images/Logo.png')}}" width="300"/></center></div>
            {% for lote in lotes %}
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <table class="table table-bordered table-responsive table-hover">
                        <tr>
                            <td>Inspector Name</td>
                            <td>{{lote.nombre}} {{lote.app}}</td>
                        </tr>
                        <tr>
                            <td>Inspection Date/Time</td>
                            <td>{{lote.inspectdate|date('Y-m-d g:i')}}</td>
                        </tr>
                        <tr>
                            <td>Inspection Plan Name</td>
                            <td>{{lote.consignne}}</td>
                        </tr>
                        <tr>
                            <td>Country of Origin</td>
                            <td>{{lote.pol}}</td>
                        </tr>
                        <tr>
                            <td>Commodity Name</td>
                            <td>{{lote.comoditty}}</td>
                        </tr>
                        <tr>
                            <td>Variety</td>
                            <td>{{lote.variety}}</td>
                        </tr>
                        <tr>
                            <td>Product Pack Style</td>
                            <td>{{lote.pack}}</td>
                        </tr>
                        <tr>
                            <td>Label</td>
                            <td>{{lote.label}}</td>
                        </tr>
                        <tr>
                            <td>Cases Type</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Cases Per Pallet</td>
                            <td>{{lote.num_boxes}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <table class="table table-bordered table-responsive table-hover">
                        <tr>
                            <td>Grower</td>
                            <td>{{lote.growers_name}}</td>
                        </tr>
                        <tr>
                            <td>Size</td>
                            <td>{{lote.size}}</td>
                        </tr>
                        <tr>
                            <td>Packing date</td>
                            <td>{{lote.Packing_Date}}</td>
                        </tr>
                        <tr>
                            <td>Cases Net Weight</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Bar Code/PLU </td>
                            <td>{{lote.bar_code_plu}}</td>
                        </tr>
                        <tr>
                            <td>Costumer</td>
                            <td>{{lote.growers_name}}</td>
                        </tr>
                        <tr>
                            <td>Shipper</td>
                            <td>{{lote.exportador}}</td>
                        </tr>
                        <tr>
                            <td>Lot</td>
                            <td>{{lote.number_Pallets}}</td>
                        </tr>
                        <tr>
                            <td>Vessel</td>
                            <td>{{lote.vessel}}</td>
                        </tr>
                        <tr>
                            <td>Container</td>
                            <td>{{lote.container}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <table class="table table-hover table-responsive">
                    <tr><td>THIER</td></tr>
                    <tr><td>{{lote.container}}</td></tr>
                    <tr><td>Comments</td></tr>
                    <tr><td>{{lote.comments|raw}}</td></tr>
                    <tr><td>Recommendation</td></tr>
                    <tr><td></td></tr>
                </table>        </div>
        </div>
        <div class="row">
            <table class="table table-hover table-responsive">
                <thead>
                    <tr><td>QUALITY</td></tr>
                    <tr>
                        <th>Grower Code</th>
                        <th>Undersize</th>
                        <th>Russet</th>	
                        <th>Mechanical Damage</th>	
                        <th>Lack of Degreening</th>	
                        <th>Color Pale</th>
                        <th>Fruit with Seeds</th>		
                        <th>Calix Brown/Black</th>	
                        <th>Skin Defect Severe</th>	
                        <th>Skin Defect Moderate</th>
                        <th>Misshapen Fruit</th>
                        <th> Resumme</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{lote.grower_code}}</td>
                        <td>{{lote.undersize}}</td>
                        <td>{{lote.russet}}</td>	
                        <td>{{lote.mechanical_damage}}</td>	
                        <td>{{lote.lack_of_degreening}}</td>	
                        <td>{{lote.color_pale}}</td>
                        <td>{{lote.fruit_with_seeds}}</td>		
                        <td>{{lote.calix_brown_black}}</td>	
                        <td>{{lote.skin_defect_severe}}</td>	
                        <td>{{lote.skin_defect_moderate}}</td>
                        <td>{{lote.misshapen_fruit}}</td>
                        <td>
                            {{
                        lote.undersize+
                        lote.russet+	
                        lote.mechanical_damage+
                        lote.lack_of_degreening+	
                        lote.color_pale+
                        lote.fruit_with_seeds+	
                        lote.calix_brown_black+
                        lote.skin_defect_severe+	
                        lote.skin_defect_moderate+
                        lote.misshapen_fruit
                            }}



                        </td>
                    </tr>
                </tbody>

            </table>        </div>
        <div class="row">
            <table class="table table-hover table-responsive">
                <thead>
                    <tr><td>Condition</td></tr>
                    <tr>
                        <th>Grower Code</th>
                        <th>Sunburn</th>
                        <th>Decay</th>	
                        <th>Mold</th>	
                        <th>Creasinng</th>
                        <th>Oleacellosis Ligth</th>		
                        <th>Oleacellosis Moderate</th>	
                        <th>Oleacellosis Severe</th>	
                        <th>Dehydrated</th>
                        <th>Misshapen Fruit</th>
                        <th>Skin Breakdown</th>
                        <th>Soft</th>
                        <th>Puffines</th>
                        <th>Spot Fumigation Damage</th>
                        <th>Internal Condition</th>
                        <th>Granulation</th>
                        <th>Dry Cells</th>
                        <th>Brix</th>
                        <th> Resumme</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{lote.grower_code}}</td>
                        <td>{{lote.sun_burn}}</td>
                        <td>{{lote.decay}}</td>	
                        <td>{{lote.mold}}</td>	
                        <td>{{lote.creasing}}</td>
                        <td>{{lote.oleacellosis_ligth}}</td>		
                        <td>{{lote.oceallosis_moderate}}</td>	
                        <td>{{lote.oleacellosis_severe}}</td>	
                        <td>{{lote.dehydrated}}</td>
                        <td>{{lote.miss_hapen_fruit}}</td>
                        <td>{{lote.skin_breakdown}}</td>
                        <td>{{lote.soft}}</td>
                        <td>{{lote.puffiness}}</td>
                        <td>{{lote.spot_fumigation_damage}}</td>
                        <td>{{lote.internal_condition}}</td>
                        <td>{{lote.granulation}}</td>
                        <td>{{lote.dry_cells}}</td>
                        <td>{{lote.brix}}</td>
                        <td>
                            {{
                        lote.sun_burn+
                        lote.decay+
                        lote.mold+
                        lote.creasing+
                        lote.oleacellosis_ligth+	
                        lote.oceallosis_moderate+
                        lote.oleacellosis_severe+
                        lote.dehydrated+
                        lote.miss_hapen_fruit+
                        lote.skin_breakdown+
                        lote.soft+
                        lote.puffiness+
                        lote.spot_fumigation_damage+
                        lote.internal_condition+
                        lote.granulation+
                        lote.dry_cells+
                        lote.brix
                            }}



                        </td>
                    </tr>
                </tbody>

            </table>        </div>
    {% endfor %}
{% endblock %}